<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p>This page will show all the philosophers that I enjoy and hate. </p>
  <p>Friedrich Nietzsche</p>
  <p>Marcus Aurelius</p>
  <p>Diogenes</p>
  <p>Arthur Schopenhauer</p>
<%- include('../partials/footer') %>
