<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p><img class="pic" src="images/Diogenes.jpeg" /></p>
  <p>The funniest philosophers</p>
  <p>"I pissed on the man who called me a dog. Why was he so surprised?"</p>
<%- include('../partials/footer') %>
