<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p><img class="pic" src="images/Marcus.jpeg" /></p>
  <p>The philosopher emperor</p>
  <p>"The happiness of your life depends upon the quality of your thoughts: therefore, guard accordingly, and take care that you entertain no notions unsuitable to virtue and reasonable nature."</p>

<%- include('../partials/footer') %>
