<%- include('../partials/header') %>
<h2>My Home Page</h2>
  <p><img class="pic" src="images/Nietzsche.jpeg" /></p>
  <p>My Favorite Philosopher</p>
  <p>
    "Because no one is able to produce a great work of art without experience, nor achieve a worldly position immediately, nor be a great lover at the first attempt; and in the interval between initial failure and subsequent success, in the gap between who we wish one day to be and who we are at present, must come pain, anxiety, envy and humiliation. We suffer because we cannot spontaneously master the ingredients of fulfillment."
  </p>
  
<%- include('../partials/footer') %>
